li.aditional-content-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
div.contentImgInline {
    display: flex;
    align-items: stretch;
    margin: 0 1em;
}
div.contentImgInline>a {
    display: flex;
    align-items: center;
    margin: 0 0.5em;
}
img.imgInline {
    object-fit: scale-down;
    width: 14px;
    height: 14px;
    margin: 0;
}